.welcome-page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(172, 205, 152);
}

.pause-button, .skip-button {
  display: none; 
}

/* PAUSE BUTTON */
.pause-button {
  position: absolute;
  top: 50px;
  left: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.pause-button span {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.pause-button span img {
  padding-left: 8px;
}

.pause-button:hover, .skip-button:hover {
  border: 1px solid white;
  background-color: rgba(194, 165, 109);
}

.pause-button:active {
	opacity: 30%;
	border-radius: 20px;
}

/* SKIP BUTTON */
.skip-button {
  position: absolute;
  top: 50px;
  right: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 0px;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 2px;
	margin-right: 25px;
}

.skip-button span {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
}

.skip-button span img {
    padding-left: 0px;
}

.skip-button:active {
	opacity: 30%;
	border-radius: 20px;
}

/* WELCOME CONTAINER */
#welcome-container {
  margin-top: 20vh;
  height: 70vh;
  width: 125vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(gifs/welcome.gif);
  background-size: cover;
  background-position: center;

  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px white;

  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;

  cursor: pointer;
}

#welcome-container:hover {
  opacity: 0.95;
}

#welcome-container:active {
  opacity: 100;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Aldus\ Roman/Aldus Roman.otf') format('truetype'); /* Ensure path is correct */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
	}

#welcome-text {
    font-family: 'MyCustomFont';
		font-size: 75px;
		font-weight: lighter;
    animation: fadeInUp 1s ease forwards;
    /* Keeps text visible and centered */
    display: block;
    margin: 20px;
    pointer-events: none;
		text-shadow: 0, 0, 5px black;
}

/* 3. TRANSITION FOR PAGE CLOSING */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
}

.pause-button, .skip-button {
  display: none; 
}

/* 2. LANDSCAPE OVERLAY: Show only when phone is vertical */
#orientation-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgb(172, 205, 152);
  color: white;
  z-index: 9999;
  text-align: center;
	font-size: 40px;
  font-family: Verdana, sans-serif;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: portrait) {
  #orientation-overlay {
    display: flex; /* Show the warning if held vertically */
  }
}